- provide(:title, "Login")

%h1 Login
.row
  .span6.offset3
    = simple_form_for(:session, url: sessions_path) do |f|
      = f.input :name
      = f.input :password
      = f.submit "Login", class: "btn btn-primary"
    %p New user? #{link_to "Registration now!", signup_path}
