- provide(:title, "Login")
.container-fluid
  .col-md-4.col-md-offset-4
    %h1 Login
    = simple_form_for(:session, url: sessions_path) do |f|
      = f.input :name
      = f.input :password
      = f.submit "Login", class: "btn btn-default btn-primary"
    %p New user? #{link_to "Registration now!", signup_path}
