- provide(:title, "Profile | #{@user.name}")

.row
  %aside.span4
    %section
      %h2
        User is #{@user.name}
      %h3
        Depo address: #{@user.payment_address}
        DOGE balance: #{@user.amount}
  .span8
    - if @user.bets.any?
      %h3
        Bets: (#{@user.bets.count})
      %p
        %ol.bets
          = render @user.bets
