- provide(:title, "Profile | #{@user.name}")
.row
  %aside.col-md-4
    %section
      %h2
        User is #{@user.name}
      %h3
        Depo address: #{@user.payment_address}
        Balance (amount): #{@user.amount}
  .col-md-8
    - if @user.bets.any?
      %h3
        Bets: (#{@user.bets.count})
      %p
        %ol.bets
          = render @user.bets
