- if event.event_type == etype 
  .row-fluid
    .span6
      .label #{event.name}:    
    .span6
      .label.right #{event.fact_link}
    .row-fluid.events
      .span12
        #{event.dt_start} 
        .row-fluid
          .span4
            = link_to event.first_side, new_event_bet_path(event, :wt => 1), :class => "btn btn-small btn-inverse btn-block"
          .span4
            = link_to "Drawn bet", new_event_bet_path(event, :wt => 0), :class => "btn btn-small btn-inverse btn-block"
          .span4  
            = link_to event.second_side, new_event_bet_path(event, :wt => 2), :class => "btn btn-small btn-inverse btn-block"
            -#  
              %a.btn.btn-small.btn-inverse.btn-block{"data-toggle" => "modal", href: "#BetModal", role: "button"} #{event.second_side}

