= render 'shared/error_messages', object: f.object
= f.input :event_type
= f.input :name
= f.input :fact_link
= f.input :first_side
= f.input :second_side
= f.input :dt_start, :default => Time.now
= f.input :complete
= f.input :complete_type
