- if event.event_type == etype 
  .row-fluid
    .span6
      .label #{event.name}:    
    .span6
      .label.right #{event.fact_link}
    .row-fluid.events
      .span12
        #{event.dt_start} 
        .row-fluid
          .span4
            %center
              %a.btn.btn-small.btn-inverse.btn-block{"data-toggle" => "modal", href: "#BetModal", role: "button"} #{event.first_side}
          .span4
            %center
              %a.btn.btn-small.btn-inverse.btn-block{"data-toggle" => "modal", href: "bets/betmodal#BetModal", role: "button"} Drawn bet
          .span4  
            %center
              %a.btn.btn-small.btn-inverse.btn-block{"data-toggle" => "modal", href: "#BetModal", role: "button"} #{event.second_side}

