- provide(:title, "Event | #{@event.name}")

.row-fluid
  %aside.span4
    %section
      %h2
        Event:
      .event_body
        - if current_user != nil && current_user.admin?
          %p
            = link_to "Edit event", edit_event_path
        ID: #{@event.id}<br/>
        Name: #{@event.name}<br/>
        Type: #{@event.event_type}<br/>
        Time: #{@event.dt_start}<br/>
        First side: #{@event.first_side}<br/>
        Second side: #{@event.second_side}<br/>
        Complete: #{@event.complete}<br/>
        Complete type: #{@event.complete_type}<br/>
        Fact link: #{@event.fact_link}<br/>

        .time_ticker{"dt-start-event" => @event.dt_start.strftime("%a, %e %b %Y %H:%M:%S %z")}
          %p.dt_until_event Event begins in:

  .span8
    - if @event.bets.any?
      %h2
        Bets: (#{@event.bets.count})
      %p
        %ol.bets
          = render @bets
