- @events.each do |event|
  - if event.event_type == etype 
    .row-fluid
      .span6
        .label #{event.name}:    
      .span6
        .label.right #{event.fact_link}
      .row-fluid.events
        .span12
          #{event.dt_start} 
          .row-fluid
            .span4
              %center
                %a.btn.btn-small.btn-inverse.btn-block{"data-toggle" => "modal", href: "#BetModal", role: "button"} #{event.first_side}
            .span4
              %center
                %a.btn.btn-small.btn-inverse.btn-block{"data-toggle" => "modal", href: "#BetModal", role: "button"} Drawn bet
            .span4  
              %center
                %a.btn.btn-small.btn-inverse.btn-block{"data-toggle" => "modal", href: "#BetModal", role: "button"} #{event.second_side}

#BetModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  #{@bet = Bet.new}
  #{@bet.user_id  = current_user.id}
  #{@bet.event_id = @event.id}
  = simple_form_for [@bet] do |f|
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h3 Bet
    .modal-body
      %p Stack…
      = render 'shared/error_messages', object: f.object
      = f.input :sum
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
      = f.button :submit, :class => "btn btn-primary"
